<a href="https://colab.research.google.com/github/nathanduft44/Deep_Learning_Classification/blob/master/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [ ]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [ ]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [ ]:
# Review the data types associated with the columns
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [ ]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"]).copy()

# Review the DataFrame
applicant_data_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [ ]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [ ]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

   APPLICATION_TYPE_T10  ...  SPECIAL_CONSIDERATIONS_Y
0                   1.0  ...                       0.0
1                   0.0  ...                       0.0
2                   0.0  ...                       0.0
3                   0.0  ...                       0.0
4                   0.0  ...                       0.0

[5 rows x 114 columns]

In [ ]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [ ]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                       1.0                       0.0
1       1   108590  ...                       1.0                       0.0
2       1     5000  ...                       1.0                       0.0
3       1     6692  ...                       1.0                       0.0
4       1   142590  ...                       1.0                       0.0

[5 rows x 117 columns]

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [ ]:
# Define the target set y using the IS_SUCCESSFUL column
y = numerical_variables_df["IS_SUCCESSFUL"]

# Display a sample of y
y[0:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [ ]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                       1.0                       0.0
1       1   108590  ...                       1.0                       0.0
2       1     5000  ...                       1.0                       0.0
3       1     6692  ...                       1.0                       0.0
4       1   142590  ...                       1.0                       0.0

[5 rows x 116 columns]

### Step 6: Split the features and target sets into training and testing datasets.

In [ ]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [ ]:
X.shape

(34299, 116)

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [ ]:
# Create the Sequential model instance
nn = Sequential()

In [ ]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [ ]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [ ]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 58)                6786
_________________________________________________________________
dense_1 (Dense)              (None, 29)                1711
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [ ]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5772 - accuracy: 0.7178
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7310
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7310
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7324
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7316
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7337
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7346
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7349
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7360
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7355
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7363
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7375
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7364
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7375
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7368
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7372
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7365
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7373
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7371
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7386
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7383
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7386
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7396
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7386
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7379
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7395
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7395
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7399
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7397
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7396
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7394
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7403
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7396
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7388
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7398
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7416
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7402

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5561 - accuracy: 0.7275
Loss: 0.5560773015022278, Accuracy: 0.7274635434150696

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 2) // 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

39

In [ ]:
# Second hidden layer
hidden_nodes_layer2 = 20

In [ ]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [ ]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2, activation="relu"))
# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 39)                4563
_________________________________________________________________
dense_4 (Dense)              (None, 20)                800
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 21
=================================================================
Total params: 5,384
Trainable params: 5,384
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5815 - accuracy: 0.7100
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7308
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7317
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7316
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7333
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7337
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7347
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7353
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7371
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7348
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7363
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7364
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7369
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7378
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7368
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7371
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7370
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7373
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7373
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7377
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7372
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7367
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7379
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7374
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7390
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7386
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7388
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7377
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7390
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7387
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7384
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7407
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7390
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7402
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7398
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7398
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7391
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7385
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7399

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2) / 2 +0.5
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2= 35
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2= 18
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer4_A2= 7
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

59.0

In [ ]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [ ]:
# First hidden layer
nn_A2.add(Dense(input_dim= number_input_features, units= hidden_nodes_layer1_A2, activation="relu"))

#Second hidden layer

nn_A2.add(Dense( units= hidden_nodes_layer2_A2, activation="relu"))

# Third hidden layer
nn_A2.add(Dense( units= hidden_nodes_layer3_A2, activation="relu"))

# Fourth hidden layer
nn_A2.add(Dense( units= hidden_nodes_layer4_A2, activation="relu"))
# Output layer
nn_A2.add(Dense( 1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 59)                6903
_________________________________________________________________
dense_7 (Dense)              (None, 35)                2100
_________________________________________________________________
dense_8 (Dense)              (None, 18)                648
_________________________________________________________________
dense_9 (Dense)              (None, 7)                 133
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 8
=================================================================
Total params: 9,792
Trainable params: 9,792
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5750 - accuracy: 0.7161
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7293
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7318
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7343
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7338
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7329
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7337
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7355
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7354
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7359
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7370
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7363
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7372
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7380
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7368
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7382
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7395
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7389
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7400
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7383
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7395
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7395
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7400
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7409
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7401
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7405
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7402
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7395
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7413
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7419

In [ ]:
# ALTERNATIVE MODEL 3
# Define the the number of inputs (features) to the model
number_input_features_A3 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A3

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = 55
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A3 = 24
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A3 = 12

In [ ]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [ ]:
# First hidden layer
nn_A3.add(Dense(input_dim= number_input_features_A3, units = hidden_nodes_layer1_A3, activation= 'tanh'))

# Second hidden layer
nn_A3.add(Dense(units = hidden_nodes_layer2_A3, activation='tanh'))

# Output layer
nn_A3.add(Dense(units = number_output_neurons_A3, activation = 'sigmoid'))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_17 (Dense)             (None, 55)                6435
_________________________________________________________________
dense_18 (Dense)             (None, 24)                1344
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 25
=================================================================
Total params: 7,804
Trainable params: 7,804
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_A3.compile(loss = 'binary_crossentropy', optimizer='adam', metrics= ['accuracy'] )

In [ ]:
nn_A3.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5745 - accuracy: 0.7145
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7303
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7321
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5463 - accuracy: 0.7336
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5447 - accuracy: 0.7344
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5441 - accuracy: 0.7332
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7354
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7346
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7349
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7354
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7365
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7370
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7374
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7363
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7375
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7375
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7377
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7391
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7389
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7401
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7393
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7399
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7393
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7406
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7404
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7409
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7406
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7413
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7409
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7411
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7405
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7416
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7423
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7406
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5296 - accuracy: 0.7416
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5295 - accuracy: 0.7420
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5294 - accuracy: 0.7421
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7413
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7421
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7409
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7420
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5284 - accuracy: 0.7426

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5561 - accuracy: 0.7275
Loss: 0.5560773015022278, Accuracy: 0.7274635434150696

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5566 - accuracy: 0.7305
Loss: 0.5566393733024597, Accuracy: 0.7304956316947937

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5604 - accuracy: 0.7296
Loss: 0.560425341129303, Accuracy: 0.7295626997947693

In [ ]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 1s - loss: 0.5544 - accuracy: 0.7261
Loss: 0.5543929934501648, Accuracy: 0.726064145565033

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = Path("./AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = Path("./AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = Path("./AlphabetSoup_A3.h5")

# Export your model to a HDF5 file
nn_A3.save(file_path)